<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Carrito</title>
</head>

<body>
    <h1>Carrito</h1>
    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Cantidad</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            {{#each cart.products}}
            <tr>
                <td>{{this.product.title}}</td>
                <td>{{this.quantity}}</td>
                <td>${{this.product.price}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>

</html>